@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html{
	text-align: center;
}

h1{
	padding-top: 50px;
	font-family: 'Oleo Script', cursive;
	font-size: 4.5em;
	color: #125688;
}
h3{
	/* padding-top: 50px; */
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: #404040;
}

#loginButton{
	margin-top: 60px; 
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	border-radius: 10px;
	padding: 16px;
	border: none;
	background-color: #125688;
	color: white;
	width: 360px;
}